.form {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin-bottom: 20px;
    label {
        font-size: 24px;
        @media(max-width: 1440px){
            font-size: 22px;
        }
    }
    @media(max-width: 560px){
        height: 550px;
    }
    .firstSection {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media(max-width: 560px){
            flex-direction: column;
        }
        div {
            display: flex;
            flex-direction: column;
            width: 43%;
            @media(max-width: 560px){
                width: 100%;
                margin-top: 10px;
            }
            input {
                margin-top: 10px;
                outline: none;
                border: solid 1px;
                height: 54px;
                border-radius: 5px;
                padding-left: 10px;
                font-size: 18px;
                // @media(max-width: 560px){
                //     margin-bottom: 10px;
                // }
            }
        }
    }
}

.secondSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    textarea {
        margin-top: 10px;
        width: 100%;
        height: 15vh;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        font-size: 18px;
    }
}

.thirdSection {
    font-size: 24px;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Faz uma transição suave quando muda o tamanho da tela
    // transition: 0.5s;
    // @media (max-width: 1440px) {
    //     width: 50%;
    //     transition: 0.5s;
    // }
    @media(max-width: 1440px){
        width: 32%;
        font-size: 22px;
    }
    @media(max-width: 1024px){
        width: 40%;
    }
    @media(max-width: 768px){
        width: 48%;
    }
    @media(max-width: 560px){
        width: 100%;
    }
    input {
        display: none;
        &:checked + label {
            transition: 0.3s;
            background-color: #28a745;
            &::before {
                transform: translateX(40px);
            }
        
        }
    }
    label {
        margin-top: 5px;
        margin-right: 9px;
        display: inline-block;
        width: 80px;
        height: 40px;
        background-color: #fe0f17;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 7px;
            width: 34%;
            height: 75%;
            border-radius: 50%;
            background-color: #FFFFFF;
            transition: transform 0.3s;
        }
    }
}

.submitButton {
    width: 45%;
    height: 10%;
    @media(max-width: 1440px){
        height: 12%;
    }
    @media(max-width: 560px){
        width: 100%;
    }
    button {
        width: 100%;
        height: 100%;
        font-size: 24px;
        border: none;
        border-radius: 5px;
        background-color: #96BAFA;
        color: #003366;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
            transition: 0.1s;
            transform: scale(1.02);
        }
        &:active {
            transform: scale(.98);
        }
    }
}